

/* CSS Variables */
:root {
  /* Tipografia */

  --font: 'Proxima Nova', sans-serif !important;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;

  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size: 18px;

  /* Paleta de cores */

  --primary: #5d1eb2;
  --secondary: #ff223e;

  --white: #FFF;
  --white-opaque: #F5F5F5;
  --grey: #DDDDDD;
  --dark-grey: #464646;
  --black: #212121;

  /* Títulos */

  --h1: 36px;
  --h2: 24px;
  --h3: 18px;
  --h4: 12px;

  /* Breakpoints de dispotivos (responsividade) */

  --sm: 480px;
  --md: 678px;
  --lg: 768px;  
}

body {
  font-size: var(--font-size);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
